$dark_grey: #333;
.flex_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}

.true-menu-items {
    box-sizing: border-box;
    padding: 15px 12px;

    &:nth-of-type(even){
        background: #ccc;
    }
    &:nth-of-type(odd) {
        color: white;
        h2{
            color: white;
        }
        .flex_wrap{
            flex-direction: row-reverse;
        }
        background: $dark_grey;
    }
}