.flex_wrap{display:flex;align-items:center;justify-content:center}.true-menu-items{box-sizing:border-box;padding:15px 12px}.true-menu-items:nth-of-type(even){background:#ccc}.true-menu-items:nth-of-type(odd){color:white;background:#333}.true-menu-items:nth-of-type(odd) h2{color:white}.true-menu-items:nth-of-type(odd) .flex_wrap{flex-direction:row-reverse}
/*# sourceMappingURL=stylez.css.map */
